<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2 style="color:blue;text-align: center;">NLP result using Flask API</h2>
		
	</div>
	</header>

	<div align="center";class="ml-container">

		<form action="{{ url_for('sentiment_ana')}}" method="POST">
		<p style="color:blue;text-align: center;">Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50" ></textarea>
		<br/>

		<input type="submit" class="btn-info" value="analyze">
		<input type="button" value="count" class="btn-info" onclick = "sentiment_ana();" />
	</form>



	</div>


	
	

</body>
</html>